[submodule "ig-reel-uploader"]
	path = ig-reel-uploader
	url = https://github.com/ahmed33033/ig-reel-uploader
[submodule "video-maker"]
	path = video-maker
	url = https://github.com/ahmed33033/video-maker
